@{
  Layout="Shared/_Layout.cshtml";
}


<div id="contacts-holder">
  @foreach (var Contact in Model)
  {
    <li><a href="/contact/@Contact.GetId()" value=@Contact.GetId()> @Contact.GetName() </a></li>
  }
</div>

<div>
  <h4>Would you like to <a href="/contact/new"><button type="button" class="btn-large">Add</button></a> another Contact?</h4>
</div>

<div class="">
  <form action="/delete" method="post">
    <button id="deleteall" class="btn-large" type="submit" name="button">Delete All</button>
  </form>
</div>
